# Secrets
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.venv_mac/
venv/
*.egg-info/
dist/
build/
.eggs/

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads (temporary)
uploads/
